html,
body {
	height: 100%;
	margin: 0;
	font-family: 'Inconsolata', monospace;
}

body {
	background-color: #21D4FD;
	background-image: linear-gradient(225deg, #21D4FD 0%, #B721FF 100%);
	/*background: linear-gradient(45deg, cyan, orange 60%, orange);*/
}

.previous-commands {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;
}


.faux-window {
	position: absolute;
	border: 1px solid #333;
	border-radius: 3px;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	background-color: white;
}

.window-header {
	background-color: #333;
	opacity: 0.8;
	cursor: move;
	padding: 8px 0px 8px 5px;
}

.window-header > button {
	float: left;
	cursor: pointer;
	border-radius: 10px;
    padding: 5px;
    margin-left: 7px;
    border: none;
}

.terminal,
.terminal:focused,
.terminal:active {
	border-width: 0;
	outline: none;
}

button.close {
	background: red;
}

button.maximize {
	background: green;
}

button.minimize {
	background: orange;
}

.editor-window {
	display: flex;
	flex-direction: row;
	height: 700px;
	overflow: scroll
}

.editor-folders {
	background: #eee;
	font-family: 'Roboto Mono', monospace;
	width: 125px;
	font-size: 13px;
}

.editor-folders ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 12px;
}

.editor-folders li {
	padding: 2px;
	padding-left: 10px;
}

.editor-folders li.highlighted {
	padding-left: 20px;
	background: #ccc;
}

.editor-gutter ul {
	list-style: none;
	padding: 12px 0 0;
	margin: 10px;
	text-align: right;
	opacity: 0.2;
}

.editor-gutter li {
	line-height: 16px;
}

.editor-title {
	padding: 10px 10px 5px;
	color: gray;
}

.editor-tab {
	padding-top: 20px;
}

.editor {
	line-height: 16px;
	border: none;
    overflow: auto;
    outline: none;
	resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

	width: 500px;
	height: 500px;
	font-size: 16px;
	font-family: 'Inconsolata', monospace;
}

.shadow-text {
	padding: 3px;
	opacity: 0.3;
	position: absolute;
	z-index: 0;
	line-height: 16px;
	margin-left: -1px;
    margin-top: -1px;
}

.save-container {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	position: absolute;
	bottom: 0;
	width: 94%;
	align-items: center;
}

button {
	background: #666;
	font-family: 'Inconsolata', monospace;
	color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
}

pre {
	font-family: 'Inconsolata', monospace;
	margin: 0;
	padding: 0;
}

.taskbar {
	height: 32px;
	background-color: rgb(10, 10, 10, 0.7);
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.125);
	color: white;
	padding-left: 18px;
	padding-right: 8px;
	display: flex;
	align-items: center;
	font-family: 'Roboto Mono', monospace;
}

.taskbar-spacer {
	flex: 1;
}

.taskbar-button {
	cursor: pointer;
	background: none;
    border: none;
    padding: 0;
    margin: 0;
    float: right;
    color: white;
}

.main-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main-menu > button {
	margin: 0.5rem 1rem;
}

.setting {
	padding: 0.5rem 1rem;
	display: flex;
}

.taskbar span {
	font-size: 10px;
	padding: 10px;
	opacity: 0.3;
}

.taskbar .title {
	font-size: 15px;
	margin-right: 20px;
	opacity: 1;
}

.taskbar span:hover {
	opacity: 1;
}

