body {
	font-family: 'Inconsolata', monospace;
}

.previous-commands {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;
}


.faux-window {
	position: absolute;
	border: 1px solid black;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	background-color: white;
}

.window-header {
	width: 100%;
	background-color: gray;
	cursor: move;
}

.window-header > button {
	float: right;;
}

.terminal,
.terminal:focused,
.terminal:active {
	border-width: 0;
	outline: none;
}

button {
	cursor: pointer;
}

.editor {
	border: none;
    overflow: auto;
    outline: none;
	resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

	width: 500px;
	height: 500px;
	font-size: 16px;
	font-family: 'Inconsolata', monospace;
}

.shadowText {
	padding: 3px;
	position: absolute;
	opacity: 0.1;
	z-index: 0;
}
