html,
body {
	height: 100%;
	margin: 0;
}

body {
	background: linear-gradient(45deg, cyan, orange 60%, orange);
}

.previous-commands {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;
}


.faux-window {
	position: absolute;
	border: 1px solid black;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	background-color: white;
}

.window-header {
	width: 100%;
	background-color: gray;
	cursor: move;
}

.window-header > button {
	float: right;;
}

.terminal,
.terminal:focused,
.terminal:active {
	border-width: 0;
	outline: none;
}

button {
	cursor: pointer;
}

.editor {
	width: 500px;
	height: 500px;
}

.shadowText {
	position: absolute;
	opacity: 0.1;
	z-index: 0;
}

.taskbar {
	height: 32px;
	background-color: rgb(150, 150, 150);
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.125);
	color: white;
	padding-left: 8px;
	padding-right: 8px;
	display: flex;
	align-items: center;
}